/* latte.css - Catppuccin Latte (Light) kinda frowned upon in my opinion*/

:root {
  --base: #eff1f5;
  --mantle: #e6e9ef;
  --crust: #dce0e8;
  --surface0: #ccd0da;
  --surface1: #bcc0cc;
  --surface2: #acb0be;
  --text: #4c4f69;
  --subtext0: #6c6f85;
  --accent: #1e66f5;
  --accent-hover: #7287fd;
  --green: #40a02b;
}